# Normalização

In [124]:
import pandas as pd
df_vagas = pd.read_csv(r'C:\Users\RodrigoPintoMesquita\Documents\GitHub\PB_TP_X\app\data\raw\vagas.csv')
df_vagas['empresa_contratante'] = df_vagas['empresa_contratante'].str.upper()
df_vagas['empresa_contratante'] = df_vagas['empresa_contratante'].replace('CLIENTE', 'EMPRESA CONFIDENCIAL').replace('CONFIDENCIAL', 'EMPRESA CONFIDENCIAL').replace('********', 'EMPRESA CONFIDENCIAL')

## Classificar as vagas nas categorias: Analista, Cientista ou Engenheiro de Dados

In [125]:
#-----------Fazer classificar as vagas em categorias------------
lista_vagas = df_vagas.titulo_resumo.unique()

de_para_vagas = {}

for vaga in lista_vagas:
    if 'eng' in vaga and 'dados' in vaga:
        norm = 'engenheiro'
    elif 'anal' in vaga and 'dados' in vaga:
        norm = 'analista'
    elif 'cientista' in vaga or 'ciencia' in vaga:
        norm = 'cientista'
    elif 'anal' in vaga and 'bi' in vaga:
        norm = 'analista'
    elif 'intell' in vaga:
        norm = 'analista'        
    else:
        norm = 'outros'

    de_para_vagas[vaga] = norm

#Join para trazer a classificação das vagas
df_vagas['perfil_vaga'] = df_vagas['titulo_resumo'].map(de_para_vagas)

#Retirar  as duas vagas que ficaram como "outros", pois eram de analistas de sistemas
df_vagas = df_vagas[df_vagas['perfil_vaga'] != 'outros']

df_vagas.head(3)

,id_vaga,data_anuncio,titulo_vaga,titulo_resumo,faixa_salarial,empresa_contratante,estado,cidade,url,descricao,beneficios,regimeContrato,perfil_vaga
0,30077919,2024-08-16T23:59:59Z,Analista de Dados - Júnior,analista-de-dados-junior,não disponível,CARTÃO DE TODOS,MG,Ipatinga,/vagas/analista-de-dados-junior/30077919/,"Para agregar nosso time, suas principais ativi...","['Seguro Saúde', 'Assistência Médica / Medicin...",CLT (Efetivo),analista
1,30045699,2024-08-21T23:59:59Z,Cientista de Dados Sênior,cientista-de-dados-senior,não disponível,DECISION,SP,São Paulo,/vagas/cientista-de-dados-senior/30045699/,Skills / Atividades: Conhecimentos em Conhecim...,[],NaN,cientista
2,30600767,2024-10-07T23:59:59Z,Analista de Dados em Excel,analista-de-dados-em-excel,não disponível,JETER CONSULTING,SP,São Paulo,/vagas/analista-de-dados-em-excel/30600767/,Com experiência comprovada como Analista de Si...,"['Convênio com Farmácia', 'Vale Transporte']",CLT (Efetivo),analista

## Descobrindo a Senioridade do Cargo

In [126]:
lista_vagas = df_vagas.titulo_resumo.unique()

nivel_cargo = {}

for vaga in lista_vagas:
    if 'senior' in vaga or 'sr' in vaga:
        nivel = 'senior'
    elif 'junior' in vaga or 'jr' in vaga:
        nivel = 'junior'   
    else:
        nivel = 'pleno'

    nivel_cargo[vaga] = nivel

#Join para trazer a classificação das vagas
df_vagas['nivel_cargo'] = df_vagas['titulo_resumo'].map(nivel_cargo)

df_vagas.head(3)

,id_vaga,data_anuncio,titulo_vaga,titulo_resumo,faixa_salarial,empresa_contratante,estado,cidade,url,descricao,beneficios,regimeContrato,perfil_vaga,nivel_cargo
0,30077919,2024-08-16T23:59:59Z,Analista de Dados - Júnior,analista-de-dados-junior,não disponível,CARTÃO DE TODOS,MG,Ipatinga,/vagas/analista-de-dados-junior/30077919/,"Para agregar nosso time, suas principais ativi...","['Seguro Saúde', 'Assistência Médica / Medicin...",CLT (Efetivo),analista,junior
1,30045699,2024-08-21T23:59:59Z,Cientista de Dados Sênior,cientista-de-dados-senior,não disponível,DECISION,SP,São Paulo,/vagas/cientista-de-dados-senior/30045699/,Skills / Atividades: Conhecimentos em Conhecim...,[],NaN,cientista,senior
2,30600767,2024-10-07T23:59:59Z,Analista de Dados em Excel,analista-de-dados-em-excel,não disponível,JETER CONSULTING,SP,São Paulo,/vagas/analista-de-dados-em-excel/30600767/,Com experiência comprovada como Analista de Si...,"['Convênio com Farmácia', 'Vale Transporte']",CLT (Efetivo),analista,pleno

## Tirando a média a partir da Faixa Salarial

In [127]:
#Ajustando a média salarial a partir da faixa salarial
import re

for i,row in df_vagas.iterrows():
    if pd.isnull(row.faixa_salarial):
        row.salario = None
    else:
        pattern = r"R\$ ([\d\.]+,\d{2}) a R\$ ([\d\.]+,\d{2})"
        match = re.search(pattern, row.faixa_salarial)
        if match:
            minimo = float(match.group(1).replace('.','').replace(',','.'))
            maximo = float(match.group(2).replace('.','').replace(',','.'))
            media = round((minimo + maximo) / 2, 0)
        else:
            media = None

        df_vagas.at[i, 'salario'] = media

In [128]:
df_vagas.to_csv(r'C:\Users\RodrigoPintoMesquita\Documents\GitHub\PB_TP_X\app\data\processed\vagas_norm.csv', index=False)
df_vagas.head(3)

,id_vaga,data_anuncio,titulo_vaga,titulo_resumo,faixa_salarial,empresa_contratante,estado,cidade,url,descricao,beneficios,regimeContrato,perfil_vaga,nivel_cargo,salario
0,30077919,2024-08-16T23:59:59Z,Analista de Dados - Júnior,analista-de-dados-junior,não disponível,CARTÃO DE TODOS,MG,Ipatinga,/vagas/analista-de-dados-junior/30077919/,"Para agregar nosso time, suas principais ativi...","['Seguro Saúde', 'Assistência Médica / Medicin...",CLT (Efetivo),analista,junior,None
1,30045699,2024-08-21T23:59:59Z,Cientista de Dados Sênior,cientista-de-dados-senior,não disponível,DECISION,SP,São Paulo,/vagas/cientista-de-dados-senior/30045699/,Skills / Atividades: Conhecimentos em Conhecim...,[],NaN,cientista,senior,None
2,30600767,2024-10-07T23:59:59Z,Analista de Dados em Excel,analista-de-dados-em-excel,não disponível,JETER CONSULTING,SP,São Paulo,/vagas/analista-de-dados-em-excel/30600767/,Com experiência comprovada como Analista de Si...,"['Convênio com Farmácia', 'Vale Transporte']",CLT (Efetivo),analista,pleno,None